a {
  color: #ffffff;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
*{
  margin:0;
}
nav img{
  width: 6%;
  position: absolute;
  left: 47%;
}
nav div{
  float: right;
  margin: 1.5%;
}