<h1>ELECCIONES 2023</h1>
<h3>Cargos a elegir y precandidaturas nacionales por provincia</h3>
<p>En las próximas elecciones nacionales, a desarrollarse los días 13 de agosto (P.A.S.O) y 22 de octubre (Generales) y eventual segunda vuelta 19 de noviembre, las argentinas y los argentinos elegiremos:</p>
<ul>
    <li>Presidente/a y vicepresidente/a</li>
    <li>19 parlamentarios y parlamentarias del Mercosur por distrito nacional</li>
    <li>24 parlamentarios y parlamentarias del Mercosur por distrito regional</li>
    <li>130 diputados y diputadas nacionales en todo el país</li>
    <li>24 senadores y senadoras nacionales en 8 provincias.</li>
</ul>