@{
  ViewData["Title"] = "Home Page";
}
<p>Partidos</p>
@foreach (partido item in ViewBag.listaPartidos)
{
  <img src="@item.logo">
  <h2>@item.nombre</h2>
  <a href='@Url.Action("verDetallePartido", new {idPartido= item.idPartido})'class="btn btn-primary">Ver más</a>
}