a[b-6tqdbp0ej3] {
  color: #ffffff;
}
.nav-pills .nav-link.active[b-6tqdbp0ej3], .nav-pills .show > .nav-link[b-6tqdbp0ej3] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
*[b-6tqdbp0ej3]{
  margin:0;
}