/* _content/TP6_VAZQUEZ/Views/Shared/_Layout.cshtml.rz.scp.css */
a[b-6tqdbp0ej3] {
  color: #ffffff;
}
.nav-pills .nav-link.active[b-6tqdbp0ej3], .nav-pills .show > .nav-link[b-6tqdbp0ej3] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
*[b-6tqdbp0ej3]{
  margin:0;
}
nav img[b-6tqdbp0ej3]{
  width: 6%;
  position: absolute;
  left: 47%;
}
nav div[b-6tqdbp0ej3]{
  float: right;
  margin: 1.5%;
}
